# the home ones that tend to be huge. Also stupid flatpak implement XDG finally
.cache
.npm
.mozilla
.m2
.pub-cache
.var 

.config/arduino15/packages
.config/libreoffice/*/cache
# this + add any other electron app that produces bloat
# .config/VSCodium/*
.config/VSCodium/*/*
!.config/VSCodium/User/keybindings.json
!.config/VSCodium/User/settings.json

.local/share/Steam
.local/share/qmk_firmware/lib
.local/share/rustup
.local/share/cargo/registry
.local/share/gradle
.local/share/nvim/mason
.local/share/nvim/lazy
.local/share/mail
.local/share/virtualenv
.local/share/opam
.local/share/go/pkg
.local/share/containers
.local/share/pnpm

.local/lib/
.flutter
